// /////////////// //
// Nordnet colours //
// /////////////// //

$color-primary: #00A9EC;
$shadow-level-1: rem(0 2px 4px 2px rgba(0, 0, 0, .1));
// $color-shareville: #048D45;
$font-primary: "Value Nordnet", "Century Gothic", "AppleGothic", sans-serif;
$ease-out: cubic-bezier(0, 0, .58, 1);
